<nz-form-item>
    <nz-form-label [ngStyle]="getShow(data.dateTimeStartEndModel.isNoShowLabelStart)" [nzRequired]="!data.noRequire">
        {{data.dateTimeStartEndModel.labelStart}}
    </nz-form-label>
    <nz-form-control>
        <nz-date-picker [(ngModel)]="startvalue" (ngModelChange)="startDateChange($event)" [nzShowTime]="showTime"
            [nzDisabledDate]="startDisableDate" [nzPlaceHolder]="data.dateTimeStartEndModel.labelStart" nzFormat="yyyy-MM-dd HH:mm:ss">
        </nz-date-picker>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label [ngStyle]="getShow(data.dateTimeStartEndModel.isNoShowLabelEnd)" [nzRequired]="!data.noRequire">
        {{data.dateTimeStartEndModel.labelEnd}}
    </nz-form-label>
    <nz-form-control>
        <nz-date-picker [(ngModel)]="endvalue" (ngModelChange)="endDateChange($event)" [nzShowTime]="showTime"
            [nzDisabledDate]="endDisableDate" [nzPlaceHolder]="data.dateTimeStartEndModel.labelEnd" nzFormat="yyyy-MM-dd HH:mm:ss">
        </nz-date-picker>
    </nz-form-control>
</nz-form-item>