:root {
   /**
    * @prop 基础字体大小.
    */
    --font-0: 14px;

   /**
    * @prop 主题色.
    */
    --primary-0: #1890ff;
   /**
    * @prop 鼠标点击时颜色.
    */
    --primary-1: #096dd9;  
   /**
    * @prop 鼠标移入时颜色.
    */
    --primary-3: #40a9ff; 
   /**
    * @prop 背景色.
    */
    --backgroud-0: #fff;
   /**
    * @prop 禁用时背景色.
    */
    --backgroud-1: #d9d9d9; 
    --backgroud-2: #0f0e0e;
    --backgroud-3: #fafafa; /* color: rgba(0,0,0,.25); */


   /**
    * @prop 危险颜色.
    */
    --danger-0: #ff4d4f; 
   /**
    * @prop 鼠标点击时颜色.
    */
    --danger-1: #ff7875;
}


body{
    position: relative;
    font-size: var(--font-0);
    line-height: 1.5715;
    color: rgba(0,0,0,.85);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background: #fff;
}


article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}



ds-for,
ds-if,
ds-dropdown,
ds-collapse-panel,
ds-checkbox,
ds-radio,
ds-tabs
{
    display: none;
}

ds-divider{
    width: 100%;
    height: 100%;
}