<div class="clearfix">
  <nz-upload [nzAction]="fileUploadParams.uploadFileUrl" nzListType="picture" [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < fileUploadParams.maxLength" [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview"
    (nzChange)="onFileChange($event)" [nzSize]="fileUploadParams.fileSize" [nzDownload]="download" [nzRemove]="remove" [nzCustomRequest]="custorRequst">
    <!-- <i nz-icon nzType="plus"></i>
    <div class="ant-upload-text">上传</div> -->
    <ng-container *ngIf="!onlyRead">
      <button nz-button ><i nz-icon nzType="upload"></i>上传</button>
      <div class="remark">支持.word .excel .ppt .pdf .png .jpg等格式；小于{{(fileUploadParams.fileSize)/1024/1024}}M</div>
    </ng-container>
  </nz-upload>
</div>

<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
  (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
  </ng-template>
</nz-modal>