<div>
    <div>满足以下条件</div>
    <div *ngFor="let item of selectAndArr;let index=index">
        <nz-select [(ngModel)]="item.name" (ngModelChange)="conditionTypeChange($event, index)">
            <nz-option *ngFor="let key of getKeys" [nzValue]="data[key].value.value" [nzLabel]="data[key].value.label"></nz-option>
        </nz-select>
        <nz-select class="contain" [(ngModel)]="item.contain" (ngModelChange)="conditionjudgeChange($event)">
            <nz-option *ngFor="let v of containArr" [nzValue]="v.value" [nzLabel]="v.label"></nz-option>
        </nz-select>
        <nz-select [nzMaxTagCount]="8" nzMaxTagPlaceholder="更多选择" nzMode="multiple" 
            nzPlaceHolder="请选择" [(ngModel)]="item.value" (ngModelChange)="conditionContentChange($event, index)">
            <ng-container *ngIf="item.name && data[item.name]">
                <nz-option *ngFor="let selectData of data[item.name].selectData" [nzHide]="selectData.hide" [nzLabel]="selectData.label" [nzValue]="selectData.value"></nz-option>
            </ng-container>
        </nz-select>
    </div>
    <button nz-button nzType="primary" (click)="addSelectAndArr()">增加一格</button>
    <div>满足以下任一条件</div>
    <div *ngFor="let item of selectOrArr;let index=index">
        <nz-select [(ngModel)]="item.name" (ngModelChange)="conditionTypeChange($event, index)">
            <nz-option *ngFor="let key of getKeys" [nzValue]="data[key].value.value" [nzLabel]="data[key].value.label"></nz-option>
        </nz-select>
        <nz-select class="contain" [(ngModel)]="item.contain" (ngModelChange)="conditionjudgeChange($event)">
            <nz-option *ngFor="let v of containArr" [nzValue]="v.value" [nzLabel]="v.label"></nz-option>
        </nz-select>
        <nz-select [nzMaxTagCount]="8" nzMaxTagPlaceholder="更多选择" nzMode="multiple"
            nzPlaceHolder="请选择" [(ngModel)]="item.value" (ngModelChange)="conditionContentChange($event, index)">
            <ng-container *ngIf="item.name && data[item.name]">
                <nz-option *ngFor="let selectData of data[item.name].selectData" [nzHide]="selectData.hide" [nzLabel]="selectData.label" [nzValue]="selectData.value"></nz-option>
            </ng-container>
        </nz-select>
    </div>
    <button nz-button nzType="primary" (click)="addSelectOrArr()">增加一格</button>
</div>