{
    path: '/{{{routerName}}}',
    component: { template: `{{{template}}}`, methods: {
        scrollTop(e) {
            e.target.scrollIntoView()
        },
        scrollIdTop(id) {
             document.getElementById(id).scrollIntoView()
        }
    } },
},