<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>组件文档</title>
</head>
<link rel="stylesheet" href="resource/purple/purple.css">
<link rel="stylesheet" href="vue/css/index.css">

<body>
    <div id="app">
        <div class="left">
            {{{toc}}}
        </div>
        <div class="main">
            <router-view></router-view>
        </div>
        <div class="right">

        </div>
    </div>
</body>
<script>
    window.onload = () => {
        vueInit('#app')
    }
</script>
<script src="./resource/vue.js"></script>
<script src="./resource/vue-router.js"></script>
<script src="vue/data/componentdata.js"></script>
<script src="vue/js/index.js"></script>

</html>