<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试基本生成</title>
    <link rel="stylesheet" href="./dist/dsuicomponent/dsuicomponent.css">
    <script type="module" src="./dist/dsuicomponent/dsuicomponent.esm.js"></script>
</head>

<body>
    {{htmldata}}
</body>
<script>
    const state = {{state}};
    let store = null;

    function initPageData() {

       {{initPageData}}
        
    }

    window.onload = () => {
        store = new ds.store(state);
        initPageData();
    }

    // 所有的js


</script>

</html>