:host {
  display: block;
}


.ds_typography_font {
  color: rgba(0, 0, 0, .85);
  overflow-wrap: break-word;
  line-height: 1.23;
  margin-bottom: 1em;
}

h1.ds_typography_font,
h2.ds_typography_font,
h3.ds_typography_font,
h4.ds_typography_font,
h5.ds_typography_font {
  margin-top: 1.2em;
  margin-bottom: .5em;
}

.ds_typography_font mark {
  padding: 0;
  background-color: #ffe58f
}

.ds_typography_font code,
.ds_typography_font kbd {
  margin: 0 .2em;
  padding: .2em .4em .1em;
  font-size: 85%;
  background: hsla(0, 0%, 58.8%, .1);
  border: 1px solid hsla(0, 0%, 39.2%, .2);
  border-radius: 3px;
}

.ds_typography_font a {
  color: #1890ff;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  text-decoration: none;
}