:host {
  display: inline-block;
}

.block {
  width: 100%;
  height: 100%;
}

.button {
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;
  padding: 5px 10px;
  letter-spacing: 4px;
}

.button:hover,
.button:active,
.button:focus {
  border: 0;
  outline: 0;
}




.default {
  color: rgba(0, 0, 0, .85);
  background: var(--backgroud-0);
  border: 1px solid var(--backgroud-1);
}

.default:hover,
.default:focus {
  color:var(--primary-0);
  border: 1px solid var(--primary-0);
}

.default:active {
  color: var(--primary-1);
  border: 1px solid var(--primary-1);
}

.default:disabled {
  color: rgba(0, 0, 0, .25);
  background: var(--backgroud-2);
  border: 1px solid var(--backgroud-1);
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.default.danger{
  color:var(--danger-0);
  border: 1px dashed var(--danger-0);
}

.primary {
  color: var(--backgroud-0);
  background:var(--primary-0);
  border: 0;
}

.primary:hover,
.primary:focus {
  background:var(--primary-3);
}

.primary:active {
  background: var(--primary-1);
}

.primary:disabled {
  color: rgba(0, 0, 0, .25);
  background: var(--backgroud-2);
  border: 1px solid var(--backgroud-1);
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.primary.danger{
  color:var(--backgroud-0);
  background:var(--danger-0);
  border: 1px dashed var(--danger-0);
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}

.primary.danger:active{
  background:var(--danger-1);
  border-color:var(--danger-1);
}



.dashed {
  color: rgba(0, 0, 0, .85);
  background: var(--backgroud-0);
  border: 1px dashed var(--backgroud-1);
}

.dashed:focus,
.dashed:hover {
  color:var(--primary-0);
  border: 1px dashed var(--primary-0);
}

.dashed:active {
  color: var(--primary-1);
  border: 1px dashed var(--primary-1);
}

.dashed:disabled {
  color: rgba(0, 0, 0, .25);
  background: var(--backgroud-2);
  border: 1px dashed var(--backgroud-1);
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.dashed.danger{
  color:var(--danger-0);
  border: 1px dashed var(--danger-0);
}

.link {
  color:var(--primary-0);
  background: var(--backgroud-0);
  border: 0px;
}

.link:disabled {
  color: rgba(0, 0, 0, .25);
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.link.danger{
  color:var(--danger-0);
}


.text {
  color: rgba(0, 0, 0, .85);
  background: var(--backgroud-0);
  border: 0px;
}

.text:active {
  background: var(--backgroud-2);
}

.text:disabled {
  background: var(--backgroud-0);
  color: rgba(0, 0, 0, .25);
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.text.danger{
  color:var(--danger-0);
}
