
:root{
  --primary-1:#e6fffb;
  --primary-2:#b5f5ec;
  --primary-3:#87e8de;
  --primary-4:#5cdbd3;
  --primary-5:#36cfc9;
  --primary-6:#13c2c2;
  --primary-7:#08979c;
  --primary-8:#006d75;
  --primary-9:#00474f;
  --primary-10: #002329;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header{
  padding: 3px;
}